{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}

    <div class="container">

    <h1 class="text-center">Liste des Tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Nom</th>
            <th>description</th>
            <th>Tasklist</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
             <td>{{ task.id }}</td>
                <td>{{ task.taskName }}</td>
                <td>{{ task.description }}</td>
                 <td>{{ task.taskList}}</td>

                        <td>

                <a class="btn btn-info" href="{{ path('app_task_show', {'id': task.id}) }}">Voir</a>
                <a class="btn btn-warning"href="{{ path('app_task_edit', {'id': task.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucune task :(</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <a class="btn btn-success" href="{{ path('app_task_new') }}">Créer un task</a>

</div>

{% endblock %}
