{% extends 'base.html.twig' %}

{% block title %}Board index{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center">Liste des tableaux</h1>
<table class="table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Nom</th>
            <th>nb de tasklist</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for board in boards %}
        <tr>
            <td>{{ board.id }}</td>
            <td>{{ board.boardName }}</td>
            <td>{{ board.taskLists.count() }}</td>
                        <td>

                <a class="btn btn-info" href="{{ path('app_board_show', {'id': board.id}) }}">Voir</a>
                <a class="btn btn-warning"href="{{ path('app_board_edit', {'id': board.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun tableau :(</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <a class="btn btn-success"href="{{ path('app_board_new') }}">Créer un nouveau</a>

</div>


{% endblock %}
