{% extends 'base.html.twig' %}

{% block title %}Trello NWS{% endblock %}

{% block body %}
    <h1>Trello NWS</h1>

    <table class="table">
 
        {% for board in boards %}
                
                

                <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ board.libelle }} {{ board.id }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <a href="{{ path('app_board_show', {'id': board.id}) }}">show</a>
      <a href="{{ path('app_board_edit', {'id': board.id}) }}">edit</a>
  </div>
</div>
                
        {% else %}
            
                <p>no records found</p>
            
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn" href="{{ path('app_board_new') }}">Créer un nouveau tableau</a>
{% endblock %}
