{% extends 'base.html.twig' %}

{% block title %}Trello NWS{% endblock %}

{% block body %}
    <h1>Trello NWS</h1>

    <table class="table">
 
        {% for board in boards %}
                
                

                <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ board.libelle }} {{ board.id }}</h5>
      <a class="btn btn-success" href="{{ path('app_board_show', {'id': board.id}) }}">En voir plus</a>
      <a class="btn btn-warning" href="{{ path('app_board_edit', {'id': board.id}) }}">Modifier</a>
    <a class="btn btn-danger" href="{{ path('app_board_delete', {'id': board.id}) }}">Supprimer</a>
  </div>
</div>
                
        {% else %}
            
                <p>Aucun tableau sur votre compte</p>
            
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-info" href="{{ path('app_board_new') }}">Créer un nouveau tableau</a>
{% endblock %}
