{% extends 'base.html.twig' %}

{% block title %}Trello NWS{% endblock %}

{% block body %}
    <h1>Trello NWS</h1>
    <h3>Liste des tableaux </h3>    <a  class="btn btn-info" href="{{ path('app_board_new') }}">Créer un nouveau tableau</a>
<br>
<br>
        {% for board in boards %}
                
         
   <div class="d-flex align-items-start">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">[{{ board.id }}] Nom : {{ board.libelle }} </h5>
   <div class="btn-style" style="display: flex; flex-direction: column;">
      <a class="btn btn-success" href="{{ path('app_board_show', {'id': board.id}) }}">En voir plus</a>
      <a class="btn btn-warning" href="{{ path('app_board_edit', {'id': board.id}) }}">Modifier le tableau</a>
                  {{ include('board/_delete_form.html.twig') }}

</div>
  </div>
</div>
</div>
        {% else %}
            
                <p>Aucun tableau sur votre compte</p>
            
        {% endfor %}
 

{% endblock %}
