{% extends 'base.html.twig' %}

{% block title %}{{ board.libelle }}{% endblock %}

{% block body %}
<h1>  tableau [{{ board.id }}]</h1>
     <a class="btn btn-info" href="{{ path('app_board_index') }}">Retour a la liste des tableaux</a>
<br>
                 <div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">{{ board.libelle }} {{ board.id }}</h5>
       <div class="btn-style" style="display: flex; flex-direction: column;">
      <a class="btn btn-warning" href="{{ path('app_board_edit', {'id': board.id}) }}">Modifier le tableau</a>
            {{ include('board/_delete_form.html.twig') }}

</div>
  </div>
</div>



{% endblock %}
